.navigation {
  position: fixed;
  width: 100%;
  max-width: 46rem;
  left: 50%;
  bottom: 0;
  margin-left: -23rem;
  bottom: 0;
  height: 5rem;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0 -3px 3px -3px #333;

  display: flex;
  align-items: center;
}

.navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}